<h1>投稿詳細</h1>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    <p>タイトル <%= @post.title %></p>
    </li> 
    <li class="list-group-item">
      <p>内容 <%= @post.content %></p>
    </li> 
  </ul>
</div>